.nav-link{
    color: white !important;
}
.navbar-nav {
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}

.nav-link:hover{
    background:#52A1F6 !important;
    border-radius: 10px;
}

.dropdown-item:hover{
    background:#E4E7EA;
    
}
.formularioCrearUsuario{
    width: 40%;
    position: center;
    margin-left: 30%;
}
.tamañotxtSuscriptor{
    width: 50%;
    padding-right: 10px;
}
.documentoSuscriptor{
width: 95%;
margin-left: 10px;

}
.formularioPuntos{
    width: 40%;
    position: center;
    margin-left: 30%;
}
.gridDireccion{
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 15% 15%;
}
.gridCrearPunto{
    display: grid;
    grid-template-columns: 20% 80%;
    
}
.formularioCRecibos{
    width: 50%;
    position: center;
}
.gridCRecibos{
    display: grid;
    grid-template-columns: 50% 50% ;
    
}
.gridCbxCRecibos{
    display: grid;
    grid-template-columns: 20% 50% 25% ;
}
.cbxCRecibos{
    margin-left: 38px;
    width: 105%;
    
}
.labelCRecibos{
    margin-left: 38px;
    width: 100%;
}
.btnCRecibos{
    margin-left: 63px;
}
.formularioPagos{
    width: 50%;
    position: center;
    margin-left: 25%;
}
.gridPagos{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
.formularioFacturacion{
    width: 30%;
    position: center;
    margin-left: 35%;
}
.gridConsultas{
    display: grid;
    grid-template-columns: 50% 50%;
}
.formularioEntidades{
    width: 30%;
    position: center;
    margin-left: 35%;
}
.formEntPago{
    width: 50%;
    position: center;
    
}
.thnom{
    width: 60%;
}
.gridEntPago{
    display: grid;
    grid-template-columns: 15% 65% 20%;
}
.gridValores{
    display: grid;
    grid-template-columns: 40% 40% 20%;
}
.thvalor{
    width: 20%;
}
.thConcepto{
    width: 40%;
}
.gridConSuscriptores{
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }
    



